body {
  background-color: rgb(243, 245, 245);
}
h1 {
  color: rgb(23, 23, 24);
}
p {
  color: rgb(10, 10, 10);
}

ul {
    list-style: no bullets;
}

<center>
  <video width="320" height="300" controls>
    <source src="video1.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</center> 
